* {
  box-sizing: border-box;
  background-color: var(--Background);
  color: var(--Text);
}

html {
  font-size: 100%;
}

body {
  margin: 0px;
  margin-left: 24px;
  margin-right: 24px;
}

:root {
  --Background: #121511;
  --Pastelgreen: #B8EA9B;
  --Darkgreen:#083F08;
  --Text:#F3F5F0;
  --Secondarytext:#CDCDCD;
  --Cards:#2A2C29;
  --Cardsgreen:#1D211B;
  --Lightcard:#DADED7;
  --bodylarge: 18px;
  --bodyregular: 16px;
  --bodysmall: 14px;
  --bodyxsmall: 12px;
  --buttonsize:18px;
  --boldsubtitle:20px;
  --boldsubtitle2:16px;
}

/*TYPOGRAPHY*/

h1, h2, h3, h4 {
  font-family: "gelica", sans-serif;
  font-weight: 200;
  font-style: normal;
}


h5 {
  font-family: Inter;
  size: 18px;
  font-weight:500;
}




/*Loading screen */


.centered-container {
  display: flex;
  justify-content: center;   /* centre horizontally */
  align-items: center;       /* centre vertically */
  height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}


.content-box {
  display: flex;
  flex-direction: column;    /* stack items vertically */
  align-items: center;       /* align items horizontally in the center */
  text-align: center;        /* centre any text */
  gap: 16px;                 /* space between items */
}




/* Onboarding-1 */
 .app {
  border-radius: 8px;
  margin-bottom: 0px;
 }

 .boldsubtitle {
  font-family: inter;
  font-size: var(--boldsubtitle);
 }

 .h1ob1 {
  margin-bottom: 20px;
  margin-top: 162px;
 }

 .bodytextob1 {
  font-family: inter;
  font-size: var(--bodyregular);
  margin-top: 0px;
 }

 .nextbutton {
  font-family: inter;
  font-size: var(--buttonsize);
  text-decoration: none;
  width: 100%;
  background: var(--Pastelgreen);
  color: var(--Darkgreen);
  border-radius: 100px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 72px;
 }

 /*Onboarding 2*/

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 200px);
  grid-template-rows: repeat(2, 200px);
  gap: 15px;
}

.service-item {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inter;
  font-size: var(--bodyxsmall);
  font-weight: 100;
}

.service-icon {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.service-text {
  color: #e0e0e0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.3px;
}


 /*Onboarding 3*/

 .topnav {
  width: 343px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
 }


 .journal-container {
  width: 343px;
  height: 291px;
  flex-shrink: 0;
  background: var(--Cardsgreen);
  border-radius: 8px;
  margin-top: 0px;
 }

 .journalcard{
  height: 144px;
  background: var(--Cardsgreen);
 }

 .body3 {
  font-family: inter;
  font-size: var(--bodyxsmall);
  background: var(--Cardsgreen);
  padding-left: 16px;
  text-align:left;
 }

 .feelingp {
  font-family: inter;
  font-size: var(--bodyxsmall);
  background: var(--Cardsgreen);
  text-align:center;
 }

 .journal-text{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: var(--Cardsgreen);
  border-radius: 8px;
 }

 .feeling3 {
  background: var(--Cardsgreen);
 }

 .feeling3 img {
  background: var(--Cardsgreen);
  vertical-align:middle;
 }

 .sliderindicator3{
  background: var(--Cardsgreen);
 }

 .content-box3 {
  display: flex;
  flex-direction: column;    /* stack items vertically */
  align-items: center;       /* align items horizontally in the center */
  text-align: center;        /* centre any text */
  gap: 0px;                 /* space between items */
}
