* {
  box-sizing: border-box;
  background-color: var(--Background);
  color: var(--Text);
}

html {
  font-size: 100%;
}

body {
  margin: 0px;
  margin-left: 24px;
  margin-right: 24px;
  overflow: hidden;
}

:root {
  --Background: #121511;
  --Pastelgreen: #B8EA9B;
  --Darkgreen:#083F08;
  --Text:#F3F5F0;
  --Secondarytext:#CDCDCD;
  --Cards:#2A2C29;
  --Cardsgreen:#1D211B;
  --Lightcard:#DADED7;
  --bodylarge: 18px;
  --bodyregular: 16px;
  --bodysmall: 14px;
  --bodyxsmall: 12px;
  --buttonsize:18px;
  --boldsubtitle:20px;
  --boldsubtitle2:16px;
}

/*TYPOGRAPHY ----->>> Need to define heading font size */ 

h1, h2, h3, h4 {
  font-family: "gelica", sans-serif;
  font-weight: 200;
  font-style: normal;
}


h5 {
  font-family: Inter;
  size: 18px;
  font-weight:500;
}




/*Loading screen */


.centered-container {
  display: flex;
  justify-content: center;   /* centre horizontally */
  align-items: center;       /* centre vertically */
  height: 100vh;
  padding: 16px;
  box-sizing: border-box;
}


.content-box {
  display: flex;
  flex-direction: column;    /* stack items vertically */
  align-items: center;       /* align items horizontally in the center */
  text-align: center;        /* centre any text */
  gap: 16px;                 /* space between items */
}




/* Onboarding-1 */
 .app {
  border-radius: 8px;
  margin-bottom: 0px;
 }

 .boldsubtitle {
  font-family: inter;
  font-size: var(--boldsubtitle);
 }

 .h1ob1 {
  margin-bottom: 20px;
  margin-top: 102px;
 }

 .bodytextob1 {
  font-family: inter;
  font-size: var(--bodyregular);
  margin-top: 0px;
  margin-bottom: 0px;
 }

 .nextbutton {
  font-family: inter;
  font-size: var(--buttonsize);
  text-decoration: none;
  width: 100%;
  background: var(--Pastelgreen);
  color: var(--Darkgreen);
  border-radius: 100px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 53px;
 }

 /*Onboarding 2*/

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 150px);
  grid-template-rows: repeat(2, 150px);
}

.service-item {
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inter;
  font-size: var(--bodyxsmall);
}

.service-icon {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;

}

.service-text {
  color: #e0e0e0;
  font-family: inter;
  font-size: var(--bodyxsmall);
  font-weight: 400;
  text-align: center;
}

.h1obb1{
  margin-top: 104px;
}


 /*Onboarding 3*/

 .topnav {
  width: 343px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
  margin-top: -160px;
 }


 .journal-container {
  width: 343px;
  height: 291px;
  flex-shrink: 0;
  background: var(--Cardsgreen);
  border-radius: 8px;
  margin-top: 0px;
 }

 .journalcard{
  height: 144px;
  background: var(--Cardsgreen);
 }

 .body3 {
  font-family: inter;
  font-size: var(--bodyxsmall);
  background: var(--Cardsgreen);
  padding-left: 16px;
  text-align:left;
 }

 .feelingp {
  font-family: inter;
  font-size: var(--bodyxsmall);
  background: var(--Cardsgreen);
  text-align:center;
 }

 .journal-text{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background: var(--Cardsgreen);
  border-radius: 8px;
 }

 .feeling3 {
  background: var(--Cardsgreen);
 }

 .feeling3 img {
  background: var(--Cardsgreen);
  vertical-align:middle;
 }

 .sliderindicator3{
  background: var(--Cardsgreen);
 }

 .content-box3 {
  display: flex;
  flex-direction: column;    /* stack items vertically */
  align-items: center;       /* align items horizontally in the center */
  text-align: center;        /* centre any text */
  gap: 0px;                 /* space between items */
}

/*Onboarding 4*/

 .nextbutton4 {
  font-family: inter;
  font-size: var(--buttonsize);
  text-decoration: none;
  width: 100%;
  background: var(--Pastelgreen);
  color: var(--Darkgreen);
  border-radius: 100px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 72px;
 }

  .bodytextob4 {
  margin-bottom: 0px;    
  font-family: inter;
  font-size: var(--bodyregular);
  margin-top: 0px;
 }

 .h1ob4 {
  margin-bottom: 60px;
  margin-top: 155px;
 }

 /*    Onboarding 5 ->>  First onboarding page with database integration!!   */


  .h1ob5 {
  margin-top: -295px;
  margin-bottom: 60px;
 }

 .form-style5 {
  width: 344px;
  background: var(--Cardsgreen);
  border-radius: 8px;
  height: 42px;
 }

  .input-style5 {
  width: 344px;
  background: var(--Cardsgreen);
  border-radius: 8px;
  height: 42px;
  border-style: none;
  font-size: 16px;
  font-family: inter;
  color: var(--Text);
 }

 .form-title5{
  font-family: inter;
  font-weight: 400;
  color: var(--Text);
  font-size: var(--bodylarge);
 }

.container5 {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns content to the left */
    gap: 10px; /* Adjust vertical spacing between elements */
}

.container5 p {
    margin: 0; /* Remove default paragraph margin */
}

 .nextbutton5 {
  font-family: inter;
  font-size: var(--buttonsize);
  text-decoration: none;
  width: 100%;
  background: var(--Pastelgreen);
  color: var(--Darkgreen);
  border-radius: 100px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 32px;
 }

 /* Support form 1 */

 .supportform1-container {
  display: grid;
  place-items: center;
  }

 .status-description {
  display: flex;
  justify-content: space-between;
  width: 327px;
  margin-top: 66px;
 }

 .status-description p {
  font-family: inter;
  font-size: 10px;
 }

 .active1{
  color: var(--Text);
 }

 .inactive1{
  color: #A4A4A4;
 }

  .nextbutton1 {
  font-family: inter;
  font-size: var(--buttonsize);
  text-decoration: none;
  width: 100%;
  background: var(--Pastelgreen);
  color: var(--Darkgreen);
  border-radius: 100px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 280px;
 }

  .form-style1 {
  width: 344px;
  background: var(--Cardsgreen);
  border-radius: 8px;
  height: 98px;
 }

  .input-style1 {
  width: 344px;
  background: var(--Cardsgreen);
  border-radius: 8px;
  height: 98px;
  border-style: none;
  font-size: 16px;
  font-family: inter;
  color: var(--Text);
 }

 .inputcontainer1 h3 {
  text-align: center;
  font-size: 23px;
  margin-top: 60px;
 }

  /* Support form 2 */


.supportform2h3 {
    margin-top: 40px;
    margin-bottom: 60px;
    font-size: 24px;
}

.symptoms-container {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
}

.symptom-options{
  justify-items: center;
  font-family: inter;
  font-size: 12px;
}

.symptom-fit{
  font-size: 10px;
  font-family: inter;
  margin-top: 15px;
}

.optional-layout{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.other {
  font-family: inter;
  font-size: var(--bodylarge);
  color: var(--Text);
}

.optional{
  font-family: inter;
  font-size: 12px;
  color: var(--Secondarytext);
}

  .nextbutton2 {
  font-family: inter;
  font-size: var(--buttonsize);
  text-decoration: none;
  width: 100%;
  background: var(--Pastelgreen);
  color: var(--Darkgreen);
  border-radius: 100px;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 32px;
 }


   /* Support form 3 */

.title-wrap {
  text-align: center;
  width: 340px;
}

.support-container {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 20px;
grid-row-gap: 10px;
}

.support-options{
  justify-items: center;
  font-family: inter;
  font-size: 12px;
}

.support-fit{
  font-family: inter;
  margin-top: 15px;
}

.optional-layout3{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 236px;
}


.nextbuttons3 {
  width:345px;
  background: var(--Pastelgreen);
  color: var(--Darkgreen);
  font-family: inter;
  font-size: var(--buttonsize);
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border-radius: 100px;
  margin-top: 101px;
}



   /* Support form 4 */


.supportform4h4 {
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 20px;
}

.contact-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 20px;
grid-row-gap: 10px;
margin-top: 40px;
margin-bottom: 67px;
}

.contact-options{
  justify-items: center;
  font-family: inter;
  font-size: 12px;
}

.contact-fit{
  font-family: inter;
  margin-top: 15px;
}

.question-container{
  width: 254px;
  display: flex;
  justify-content: left;
}

.align-left {
  align-items: start;
}

.how-often {
  font-family: inter;
  font-size: var(--bodylarge);
  margin-top: 0px;
  padding-top: 0px;
}



.nextbuttons4 {
  width:345px;
  background: var(--Pastelgreen);
  color: var(--Darkgreen);
  font-family: inter;
  font-size: var(--buttonsize);
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border-radius: 100px;
  margin-top: 105px;
}

/*  ---- Slider ---- */


.center-frequencyp {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            padding: 20px;
        }

        .slider-container {
            width: 254px;
            position: relative;
        }

        .frequency-slider {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            width: 100%;
            height: 8px;
            border-radius: 5px;
            background: #DADED7;
            outline: none;
            transition: opacity 0.2s;
        }

        .frequency-slider:hover {
            opacity: 1;
        }

        .frequency-slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #B8EA9B;
            cursor: pointer;
            border: 2px solid #8FD65C;
        }

        .frequency-slider::-moz-range-thumb {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: #B8EA9B;
            cursor: pointer;
            border: 2px solid #8FD65C;
        }

        .frequencyp {
            text-align: center;
            font-family: Arial, sans-serif;
            font-size: var(--bodylarge);
            margin: 10px 0;
            color: var(--Text);
        }

   /* Support form 5 */

.overview-card{
  width: 344px;
  height: 360px;
  border-radius: 8px;
  background: var(--Cardsgreen);
  margin-top: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Cardsgreen);
  border: 1px solid #424242;
  }

  .overview-content {
    width: 307px;
    height: 304px;
    background: var(--Cardsgreen);
  }

  .card-heading {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: var(--Cardsgreen);
  }

  .card-heading h2 {
    padding: 0px;
    margin: 0px;
    background: var(--Cardsgreen);
  }

    .card-heading p {
    padding: 0px;
    margin: 0px;
    font-family: inter;
    color: var(--Pastelgreen);
    font-size:var(--bodyregular);
    background: var(--Cardsgreen);
  }


  .content-heading1{
    font-family: inter;
    font-size: var(--boldsubtitle);
    color: var(--Text);
    margin-bottom: 4px;
    margin-top:21px;
    background: var(--Cardsgreen);
  }

    .content-heading{
    font-family: inter;
    font-size: var(--boldsubtitle);
    color: var(--Text);
    margin-bottom: 4px;
    margin-top:24px;
    background: var(--Cardsgreen);
  }

  .content-selection{
    font-family: inter;
    font-size:var(--bodysmall);
    color: var(--Text);
    font-weight: 400;
    margin-top: 0px;
    background: var(--Cardsgreen);
  }

  .form-content-card{
    background: var(--Cardsgreen);
  }

    .form-content{
    background: var(--Cardsgreen);
  }


.nextbuttons5 {
  width:345px;
  background: var(--Pastelgreen);
  color: var(--Darkgreen);
  font-family: inter;
  font-size: var(--buttonsize);
  text-decoration: none;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  border-radius: 100px;
  margin-top: 101px;
}